In [16]:
import json

In [17]:

  
# Opening JSON file 
f = open('students.json',encoding='utf8') 
  
# returns JSON object as  
# a dictionary 
data = json.load(f) 
  
# Iterating through the json 
# list 
#for dat in data:
#    print(dat)
#   print(type(dat))
  
# Closing file 
f.close()

In [18]:
students=pd.DataFrame(data)
students.head()

,sid,target_super_groups,targets
0,6e6dabfe6d4eaa2d15b4672e0d0fad5a,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."
1,a4839004275f9f0583a20f03a8b759c3,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."
2,bd73581ef03a1f15f24a7d2c7b573792,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."
3,7a3595d03ba05f3778ade4e0881be40f,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."
4,ee2dce155a659d3b6594479d228e98b8,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."

In [19]:
students.tail()

,sid,target_super_groups,targets
9994,83b27d5f0764c59026ff75014258eaa3,"[{'_id': 'b44c28652d35c281b32c5dafb27ae341', '...","[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '..."
9995,0f4f468402eb79bf4033bb327ae72167,"[{'_id': 'b44c28652d35c281b32c5dafb27ae341', '...","[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '..."
9996,b756811fd27b908aa17fba7068a3ca63,"[{'_id': 'b44c28652d35c281b32c5dafb27ae341', '...","[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '..."
9997,e040f4ec1ccbc7ee248e334a6eab61e6,"[{'_id': 'b44c28652d35c281b32c5dafb27ae341', '...","[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '..."
9998,503ad6f319cab78d8634549fa923c073,"[{'_id': 'b44c28652d35c281b32c5dafb27ae341', '...","[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '..."

In [20]:
enrollments=pd.read_json('course_enrollments.json')
enrollments.head()

,enrolled_courses,studentIds
0,[c64ca44849ae86093254a01b5748466f],6e6dabfe6d4eaa2d15b4672e0d0fad5a
1,[c64ca44849ae86093254a01b5748466f],a4839004275f9f0583a20f03a8b759c3
2,[c64ca44849ae86093254a01b5748466f],bd73581ef03a1f15f24a7d2c7b573792
3,[c64ca44849ae86093254a01b5748466f],7a3595d03ba05f3778ade4e0881be40f
4,"[e2e15f7b9ea0df0fbab2d5c6929a894e, c64ca44849a...",ee2dce155a659d3b6594479d228e98b8