In [16]:
import json

In [17]:

  
# Opening JSON file 
f = open('students.json',encoding='utf8') 
  
# returns JSON object as  
# a dictionary 
data = json.load(f) 
  
# Iterating through the json 
# list 
#for dat in data:
#    print(dat)
#   print(type(dat))
  
# Closing file 
f.close()

In [18]:
students=pd.DataFrame(data)
students.head()

,sid,target_super_groups,targets
0,6e6dabfe6d4eaa2d15b4672e0d0fad5a,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."
1,a4839004275f9f0583a20f03a8b759c3,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."
2,bd73581ef03a1f15f24a7d2c7b573792,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."
3,7a3595d03ba05f3778ade4e0881be40f,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."
4,ee2dce155a659d3b6594479d228e98b8,"[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...","[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '..."

In [20]:
enrollments=pd.read_json('course_enrollments.json')
enrollments.head()

,enrolled_courses,studentIds
0,[c64ca44849ae86093254a01b5748466f],6e6dabfe6d4eaa2d15b4672e0d0fad5a
1,[c64ca44849ae86093254a01b5748466f],a4839004275f9f0583a20f03a8b759c3
2,[c64ca44849ae86093254a01b5748466f],bd73581ef03a1f15f24a7d2c7b573792
3,[c64ca44849ae86093254a01b5748466f],7a3595d03ba05f3778ade4e0881be40f
4,"[e2e15f7b9ea0df0fbab2d5c6929a894e, c64ca44849a...",ee2dce155a659d3b6594479d228e98b8

In [28]:
submissions=pd.read_json('test_submissions.json')
submissions.head()

,correct,created_on,marks,partial,skipped,studentId,testId,time_taken,total_answered,wrong
0,0,0001-01-01T00:00:00Z,-1.50,0,4,15124e459c173f28a53b4863fdb8f6b3,dcf403b70447d14bdfc2a922452abddd,21,6,6
1,2,0001-01-01T00:00:00Z,0.50,0,2,15124e459c173f28a53b4863fdb8f6b3,a82e3ddc77d28b3ef773e1228dd13d12,11,8,6
2,1,0001-01-01T00:00:00Z,0.75,0,8,dd3fb5b38d49c87597f46c9e390286de,dcf403b70447d14bdfc2a922452abddd,18,2,1
3,0,0001-01-01T00:00:00Z,-0.75,0,7,dd3fb5b38d49c87597f46c9e390286de,9396e6f8e26238f13cd803cc3210b5b0,5,3,3
4,8,0001-01-01T00:00:00Z,1.00,0,39,c883aca5dc77e2bca2042203cf6d4a47,88015babd0ce62e05581f9d07c4b5ca9,127,36,28

In [26]:
test_details=pd.read_json('tests_details.json')
test_details.head()

,target,target_super_group,test_id
0,"[{'_id': 'ce93e65e281ffed2347769d363c25b70', '...",None,b4ca204631b17b6b486c361872fd2af2
1,None,None,b25b5a4ec5c9ed9cbf8c1b2dbce2e5ec
2,None,None,4f6de001762ca3cb6546de31962ad917
3,"[{'_id': '774732a9be9cd1f7681f7eb699d3bdf8', '...",None,a5509829b0acbc147323aaf75e8ea73e
4,"[{'_id': '6ac844c11e30c46f4b9583c85653d610', '...",None,7bcbc0211f63141908bd2f0bb44d1bdd

In [36]:
class_details = pd.read_csv (r'class_details.csv')   #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
print(class_details)

                               test_id                       target___id  \
0     8f9a4bd57683734c52897423dd741ede  01e1502c5eec9236f4531c634b35031c
1     4aad8b59ca5b690bc2eff371fec2f83e  01e1502c5eec9236f4531c634b35031c
2     7aac7e033c88241a87eb43cf66fb9704  01e1502c5eec9236f4531c634b35031c
3     305071c5117adc971a6f928f36b0268e  01e1502c5eec9236f4531c634b35031c
4     354cea9d7b43be07ccdb7920634ad604  065c0dc33eddd1263fc57eefa310365b
5     edd9eaa9ff832169b712f4c3967e156b  065c0dc33eddd1263fc57eefa310365b
6     49b1eda4e080da8247cfb130acd9bebf  065c0dc33eddd1263fc57eefa310365b
7     2164992435d870a8704f4b3f4888e26d  065c0dc33eddd1263fc57eefa310365b
8     ccca1f430ca1fb71c389f3214c76de63  065c0dc33eddd1263fc57eefa310365b
9     932b1625a65e5722076c706c515d7182  065c0dc33eddd1263fc57eefa310365b
10    7e554dd94212318afedbaa0a8ef2a0b3  065c0dc33eddd1263fc57eefa310365b
11    74cc4247a45cda8dcd9341064b444f6c  065c0dc33eddd1263fc57eefa310365b
12    46bb170ffc4085574050db32af1d0652  065c0dc33eddd1263fc57eefa310365b
13    e1f8dd09dbc67f50633f8c05bfecc9f3  065c0dc33eddd1263fc57eefa310365b
14    3f63c90d4f6f5da85a4ccfa296b9e5bd  065c0dc33eddd1263fc57eefa310365b
15    fc3baae6f067e4f5ec7fb3e8ea5acd78  065c0dc33eddd1263fc57eefa310365b
16    711752e8ae4c242a923cccd2e6fd0f0b  065c0dc33eddd1263fc57eefa310365b
17    37c061da0c58f8b2ab984a2f9c818bcb  067cb25f7be5f7e0b96504be0e86acb4
18    aafbe9aa780f5247fa2d858c08801004  067cb25f7be5f7e0b96504be0e86acb4
19    9faa9942be651c551307b3fdb6006392  067cb25f7be5f7e0b96504be0e86acb4
20    1d35bbed10e2caf6646d201b891cd02a  09fa973b1e992878edc788d44aa93e0f
21    590bb48d278b71751a5ab0cfa3975851  09fa973b1e992878edc788d44aa93e0f
22    6a6f26ff24d769f31a935a58c46fe400  09fa973b1e992878edc788d44aa93e0f
23    dd424b57e1727714d81f3e5595d4bde0  09fa973b1e992878edc788d44aa93e0f
24    2e972821279f92255388fef0f70eaa67  09fa973b1e992878edc788d44aa93e0f
25    6e8f8e328037b08ba271d6d745d5d734  09fa973b1e992878edc788d44aa93e0f
26    0b36c2b10bdb0758a44f5a8ad107d0c1  09fa973b1e992878edc788d44aa93e0f
27    268cac69588d088127454a63852a2e70  09fa973b1e992878edc788d44aa93e0f
28    f4eae348a66f9a58657ae23ce1f259a8  09fa973b1e992878edc788d44aa93e0f
29    79df5ed3f79dc5659d45f1347e44632b  09fa973b1e992878edc788d44aa93e0f
...                                ...                               ...
1670                               NaN                               NaN
1671                               NaN                               NaN
1672  425d6c2e4cf38b1f2b8d57152e06a568                               NaN
1673                               NaN                               NaN
1674                               NaN                               NaN
1675                               NaN                               NaN
1676                               NaN                               NaN
1677                               NaN                               NaN
1678  8d5e39d964d47fc3ec5fb63cd373cafc                               NaN
1679                               NaN                               NaN
1680                               NaN                               NaN
1681                               NaN                               NaN
1682                               NaN                               NaN
1683                               NaN                               NaN
1684  9396e6f8e26238f13cd803cc3210b5b0                               NaN
1685                               NaN                               NaN
1686                               NaN                               NaN
1687                               NaN                               NaN
1688                               NaN                               NaN
1689                               NaN                               NaN
1690  dcf403b70447d14bdfc2a922452abddd                               NaN
1691                               NaN                               NaN
1692                               NaN                               NaN
1693                               NaN                               NaN
1694                               NaN                               NaN
1695                               NaN                               NaN
1696  bb736359eb195591d55e2c98b21b232a                               NaN
1697                               NaN                               NaN
1698                               NaN                               NaN
1699                               NaN                               NaN

     target__title__language    target__title__value target__isPrimary  \
0                    English              Bihar STET              True
1                    English              Bihar STET              True
2                    English              Bihar STET              True
3                    English              Bihar STET              True
4                    English  Bihar Police ASI Steno              True
5                    English  Bihar Police ASI Steno              True
6                    English  Bihar Police ASI Steno              True
7                    English  Bihar Police ASI Steno              True
8                    English  Bihar Police ASI Steno              True
9                    English  Bihar Police ASI Steno              True
10                   English  Bihar Police ASI Steno              True
11                   English  Bihar Police ASI Steno              True
12                   English  Bihar Police ASI Steno              True
13                   English  Bihar Police ASI Steno              True
14                   English  Bihar Police ASI Steno              True
15                   English  Bihar Police ASI Steno              True
16                   English  Bihar Police ASI Steno              True
17                   English        UPPCL Technician              True
18                   English        UPPCL Technician              True
19                   English        UPPCL Technician              True
20                   English                    REET              True
21                   English                    REET              True
22                   English                    REET              True
23                   English                    REET              True
24                   English                    REET              True
25                   English                    REET              True
26                   English                    REET              True
27                   English                    REET              True
28                   English                    REET              True
29                   English                    REET              True
...                      ...                     ...               ...
1670                     NaN                     NaN               NaN
1671                   Hindi                     NaN               NaN
1672                     NaN                     NaN               NaN
1673                     NaN                     NaN               NaN
1674                     NaN                     NaN               NaN
1675                     NaN                     NaN               NaN
1676                     NaN                     NaN               NaN
1677                     NaN                     NaN               NaN
1678                     NaN                     NaN               NaN
1679                     NaN                     NaN               NaN
1680                     NaN                     NaN               NaN
1681                     NaN                     NaN               NaN
1682                     NaN                     NaN               NaN
1683                     NaN                     NaN               NaN
1684                     NaN                     NaN               NaN
1685                     NaN                     NaN               NaN
1686                     NaN                     NaN               NaN
1687                     NaN                     NaN               NaN
1688                     NaN                     NaN               NaN
1689                     NaN                     NaN               NaN
1690                     NaN                     NaN               NaN
1691                     NaN                     NaN               NaN
1692                     NaN                     NaN               NaN
1693                     NaN                     NaN               NaN
1694                     NaN                     NaN               NaN
1695                     NaN                     NaN               NaN
1696                     NaN                     NaN               NaN
1697                     NaN                     NaN               NaN
1698                     NaN                     NaN               NaN
1699                     NaN                     NaN               NaN

      target_super_group  target                   |  \
0                    NaN     NaN                 NaN
1                    NaN     NaN                 NaN
2                    NaN     NaN                 NaN
3                    NaN     NaN                 NaN
4                    NaN     NaN                 NaN
5                    NaN     NaN                 NaN
6                    NaN     NaN                 NaN
7                    NaN     NaN                 NaN
8                    NaN     NaN                 NaN
9                    NaN     NaN                 NaN
10                   NaN     NaN                 NaN
11                   NaN     NaN                 NaN
12                   NaN     NaN                 NaN
13                   NaN     NaN                 NaN
14                   NaN     NaN                 NaN
15                   NaN     NaN                 NaN
16                   NaN     NaN                 NaN
17                   NaN     NaN                 NaN
18                   NaN     NaN                 NaN
19                   NaN     NaN                 NaN
20                   NaN     NaN                 NaN
21                   NaN     NaN                 NaN
22                   NaN     NaN                 NaN
23                   NaN     NaN                 NaN
24                   NaN     NaN                 NaN
25                   NaN     NaN                 NaN
26                   NaN     NaN                 NaN
27                   NaN     NaN                 NaN
28                   NaN     NaN                 NaN
29                   NaN     NaN                 NaN
...                  ...     ...                 ...
1670                 NaN     NaN                 NaN
1671                 NaN     NaN                 NaN
1672                 NaN     NaN              target
1673                 NaN     NaN                 NaN
1674                 NaN     NaN                 NaN
1675                 NaN     NaN                 NaN
1676                 NaN     NaN  target_super_group
1677                 NaN     NaN                 NaN
1678                 NaN     NaN              target
1679                 NaN     NaN                 NaN
1680                 NaN     NaN                 NaN
1681                 NaN     NaN                 NaN
1682                 NaN     NaN  target_super_group
1683                 NaN     NaN                 NaN
1684                 NaN     NaN              target
1685                 NaN     NaN                 NaN
1686                 NaN     NaN                 NaN
1687                 NaN     NaN                 NaN
1688                 NaN     NaN  target_super_group
1689                 NaN     NaN                 NaN
1690                 NaN     NaN              target
1691                 NaN     NaN                 NaN
1692                 NaN     NaN                 NaN
1693                 NaN     NaN                 NaN
1694                 NaN     NaN  target_super_group
1695                 NaN     NaN                 NaN
1696                 NaN     NaN              target
1697                 NaN     NaN                 NaN
1698                 NaN     NaN  target_super_group
1699                 NaN     NaN                 NaN

                                |___id |__title__language  \
0                                  NaN                NaN
1                                  NaN                NaN
2                                  NaN                NaN
3                                  NaN                NaN
4                                  NaN                NaN
5                                  NaN                NaN
6                                  NaN                NaN
7                                  NaN                NaN
8                                  NaN                NaN
9                                  NaN                NaN
10                                 NaN                NaN
11                                 NaN                NaN
12                                 NaN                NaN
13                                 NaN                NaN
14                                 NaN                NaN
15                                 NaN                NaN
16                                 NaN                NaN
17                                 NaN                NaN
18                                 NaN                NaN
19                                 NaN                NaN
20                                 NaN                NaN
21                                 NaN                NaN
22                                 NaN                NaN
23                                 NaN                NaN
24                                 NaN                NaN
25                                 NaN                NaN
26                                 NaN                NaN
27                                 NaN                NaN
28                                 NaN                NaN
29                                 NaN                NaN
...                                ...                ...
1670                               NaN              Hindi
1671                               NaN                NaN
1672  3712244c886f1d5bfa634a4a4b1525de            English
1673                               NaN              Hindi
1674  3a33dafe92fabb1d210f48951b0317cd            English
1675                               NaN              Hindi
1676  b4079255a4b812351b0a98cc4f5ad675            English
1677                               NaN              Hindi
1678  3712244c886f1d5bfa634a4a4b1525de            English
1679                               NaN              Hindi
1680  3a33dafe92fabb1d210f48951b0317cd            English
1681                               NaN              Hindi
1682  b4079255a4b812351b0a98cc4f5ad675            English
1683                               NaN              Hindi
1684  3712244c886f1d5bfa634a4a4b1525de            English
1685                               NaN              Hindi
1686  3a33dafe92fabb1d210f48951b0317cd            English
1687                               NaN              Hindi
1688  b4079255a4b812351b0a98cc4f5ad675            English
1689                               NaN              Hindi
1690  3712244c886f1d5bfa634a4a4b1525de            English
1691                               NaN              Hindi
1692  3a33dafe92fabb1d210f48951b0317cd            English
1693                               NaN              Hindi
1694  b4079255a4b812351b0a98cc4f5ad675            English
1695                               NaN              Hindi
1696  a4b3f38ba5a80bc0ccb9d7e2be728229            English
1697                               NaN              Hindi
1698  4db3fc331f6c3cc1afcd4cb6938db9d0            English
1699                               NaN              Hindi

                  |__title__value |__isPrimary
0                             NaN          NaN
1                             NaN          NaN
2                             NaN          NaN
3                             NaN          NaN
4                             NaN          NaN
5                             NaN          NaN
6                             NaN          NaN
7                             NaN          NaN
8                             NaN          NaN
9                             NaN          NaN
10                            NaN          NaN
11                            NaN          NaN
12                            NaN          NaN
13                            NaN          NaN
14                            NaN          NaN
15                            NaN          NaN
16                            NaN          NaN
17                            NaN          NaN
18                            NaN          NaN
19                            NaN          NaN
20                            NaN          NaN
21                            NaN          NaN
22                            NaN          NaN
23                            NaN          NaN
24                            NaN          NaN
25                            NaN          NaN
26                            NaN          NaN
27                            NaN          NaN
28                            NaN          NaN
29                            NaN          NaN
...                           ...          ...
1670                          NaN          NaN
1671                          NaN          NaN
1672       Delhi Police Constable         True
1673                          NaN          NaN
1674  Delhi Police Head Constable          NaN
1675                          NaN          NaN
1676                 Police Exams         True
1677                          NaN          NaN
1678       Delhi Police Constable         True
1679                          NaN          NaN
1680  Delhi Police Head Constable          NaN
1681                          NaN          NaN
1682                 Police Exams         True
1683                          NaN          NaN
1684       Delhi Police Constable         True
1685                          NaN          NaN
1686  Delhi Police Head Constable          NaN
1687                          NaN          NaN
1688                 Police Exams         True
1689                          NaN          NaN
1690       Delhi Police Constable         True
1691                          NaN          NaN
1692  Delhi Police Head Constable          NaN
1693                          NaN          NaN
1694                 Police Exams         True
1695                          NaN          NaN
1696                       SBI PO         True
1697                          NaN          NaN
1698                Banking Exams         True
1699                          NaN          NaN

[1700 rows x 12 columns]

In [37]:
class_details.head()

,test_id,target___id,target__title__language,target__title__value,target__isPrimary,target_super_group,target,|,|___id,|__title__language,|__title__value,|__isPrimary
0,8f9a4bd57683734c52897423dd741ede,01e1502c5eec9236f4531c634b35031c,English,Bihar STET,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4aad8b59ca5b690bc2eff371fec2f83e,01e1502c5eec9236f4531c634b35031c,English,Bihar STET,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7aac7e033c88241a87eb43cf66fb9704,01e1502c5eec9236f4531c634b35031c,English,Bihar STET,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,305071c5117adc971a6f928f36b0268e,01e1502c5eec9236f4531c634b35031c,English,Bihar STET,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,354cea9d7b43be07ccdb7920634ad604,065c0dc33eddd1263fc57eefa310365b,English,Bihar Police ASI Steno,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN