In [1]:
import json
import pandas as pd
import numpy as np
f = open('course_enrollments.json',encoding='utf8') 
  
# returns JSON object as  
# a dictionary 
data = json.load(f) 
f.close()
course_enrollments=pd.DataFrame(data)
course_enrollments.head()

,enrolled_courses,studentIds
0,[c64ca44849ae86093254a01b5748466f],6e6dabfe6d4eaa2d15b4672e0d0fad5a
1,[c64ca44849ae86093254a01b5748466f],a4839004275f9f0583a20f03a8b759c3
2,[c64ca44849ae86093254a01b5748466f],bd73581ef03a1f15f24a7d2c7b573792
3,[c64ca44849ae86093254a01b5748466f],7a3595d03ba05f3778ade4e0881be40f
4,"[e2e15f7b9ea0df0fbab2d5c6929a894e, c64ca44849a...",ee2dce155a659d3b6594479d228e98b8

In [3]:
#course enrollment destructre

course_enrollments=course_enrollments.enrolled_courses.apply(pd.Series).merge(course_enrollments,left_index=True,right_index=True).drop(['enrolled_courses'],axis=1).melt(id_vars=['studentIds'],value_name='enrolled_courses').drop('variable',axis=1).dropna()
course_enrollments.head()

                         studentIds                  enrolled_courses
0  6e6dabfe6d4eaa2d15b4672e0d0fad5a  c64ca44849ae86093254a01b5748466f
1  a4839004275f9f0583a20f03a8b759c3  c64ca44849ae86093254a01b5748466f
2  bd73581ef03a1f15f24a7d2c7b573792  c64ca44849ae86093254a01b5748466f
3  7a3595d03ba05f3778ade4e0881be40f  c64ca44849ae86093254a01b5748466f
4  ee2dce155a659d3b6594479d228e98b8  e2e15f7b9ea0df0fbab2d5c6929a894e

In [4]:
f = open('class_details.json',encoding='utf8') 
  
# returns JSON object as  
# a dictionary 
data = json.load(f) 
f.close()
class_details=pd.DataFrame(data)
class_details.head()

,class_id,target,target_super_group
0,9a5896f9ff163fe54390aa23e9a05c46,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '..."
1,80714763e74d90914b3251a00a9a1b85,"[{'_id': '21cde520a11aea91d3b0c222ee9f52a4', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '..."
2,b6abd291efa202c568f7e24dec8c26dc,"[{'_id': '8dce41b95f3777d43d7ac6259bf1c39a', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '..."
3,ff9317caee0d6c22fc730a881f0fe1b2,"[{'_id': 'ce93e65e281ffed2347769d363c25b70', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '..."
4,6eec3063cb4057d3e3e4596295162cb5,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...",None

In [5]:
classenrolledmax=pd.merge(course_enrollments,class_details,left_on="enrolled_courses",right_on="class_id",how="left")

classenrolledmax=classenrolledmax[['target','target_super_group','studentIds','class_id']]
classenrolledmax.head()

,target,target_super_group,studentIds,class_id
0,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",6e6dabfe6d4eaa2d15b4672e0d0fad5a,c64ca44849ae86093254a01b5748466f
1,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",a4839004275f9f0583a20f03a8b759c3,c64ca44849ae86093254a01b5748466f
2,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",bd73581ef03a1f15f24a7d2c7b573792,c64ca44849ae86093254a01b5748466f
3,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",7a3595d03ba05f3778ade4e0881be40f,c64ca44849ae86093254a01b5748466f
4,"[{'_id': '8dce41b95f3777d43d7ac6259bf1c39a', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '...",ee2dce155a659d3b6594479d228e98b8,e2e15f7b9ea0df0fbab2d5c6929a894e

In [6]:
# classenrolledmax=pd.json_normalize(classenrolledmax.target)

In [7]:
#count joined course
joined_course =classenrolledmax.dropna(axis=0,subset=['class_id'])

joinedcourseslist=(joined_course.
                  groupby(by=['class_id'])['target'].
                  count().
                  reset_index().
                  rename(columns={'target':'total_targets'})
                  [['class_id','total_targets']])

joinedcourseslist.head()

                           class_id  total_targets
0  00ab07631696c897dfa6f037e1986ec5              1
1  03afc06d8f78b0f3f3a83bfdc6521f84              2
2  0db2e72c48b89cdaa961666fcc20d5d8             19
3  109052ee3f95106624c4c3ac5f144b05              7
4  1597ef0af258665c339f498dd3760a79              5

In [8]:
totalratingdata=joinedcourseslist.merge(classenrolledmax,left_on='class_id',right_on='class_id',how='left')

totalratingdata.head()

,class_id,total_targets,target,target_super_group,studentIds
0,00ab07631696c897dfa6f037e1986ec5,1,"[{'_id': 'a4b3f38ba5a80bc0ccb9d7e2be728229', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '...",cafa4b809d68de6b94226e4117879f98
1,03afc06d8f78b0f3f3a83bfdc6521f84,2,"[{'_id': 'd2fbe7905f7f98b8bad4049d937dc090', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",a0eb10c72b63e1fe7845bdfb2942a1d2
2,03afc06d8f78b0f3f3a83bfdc6521f84,2,"[{'_id': 'd2fbe7905f7f98b8bad4049d937dc090', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",a6d6e55e1175b8d1fc4bd5fca16e3fda
3,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",64102195627a657aeee8d3c48a33e43e
4,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",9b8310aee6af9568a13c1cdd17e4a20f

In [9]:
totalratingdata.describe()

       total_targets
count     365.000000
mean       10.539726
std         9.000103
min         1.000000
25%         3.000000
50%         8.000000
75%        14.000000
max        29.000000

In [10]:
threshold= 4
suggestion=totalratingdata.query('total_targets>=@threshold')
suggestion.head()

,class_id,total_targets,target,target_super_group,studentIds
3,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",64102195627a657aeee8d3c48a33e43e
4,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",9b8310aee6af9568a13c1cdd17e4a20f
5,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",16ec3b0729e0b32fa218d12d44879e34
6,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",298a1c1900b5e4cc90a5e3c2efa3be35
7,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",222df627ba831c24a485449310d5a48a

In [11]:
suggestion.shape

(271, 5)

In [12]:
matrix=suggestion.pivot_table(index='class_id',columns='studentIds',values='total_targets').fillna(0)
matrix.head()

studentIds,01be1f4cb365b4108b85bfd1fc2949e1,01ceb3a7abd5a779a1e5402d3e92ffba,0225cf56e246bc4a382581320dd83063,030a1dbe438d41555c0ab9934b935527,04d4125de28ca26682fe3f24cef227e9,0683c85fc164c02ea93d168293956c8d,0797033eb66cdac353ab7aecd66f1719,10386841d4cb374d75887b6aa5536647,1141955d025e01b669d19d16cc7dd578,13957142eed01baafa4419f1cda2fbf0,...,f166c97bad4032506e08c813a90a08f8,f1e2512b25c8596a5ac37d21b7b1d43f,f1fcdee177c47defabdb202fb9e4de1a,f292034c4f2eb68d3f908f12d56ad9fa,f2d3d1e9032314e5e0d5bd3a955fb9a7,f5836260b98b6d1e0d225dc49ee5955d,f959979a28927e5366ef3b1e33a4f25b,fd00ae274371d13e12d34240cc441c00,feaafe2805b49fec2115b1b6464ccc7d,ffe7c33ba8e1873d96407a56140b1299
class_id,,,,,,,,,,,,,,,,,,,,,
0db2e72c48b89cdaa961666fcc20d5d8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,...,0.0,19.0,0.0,19.0,19.0,0.0,0.0,0.0,0.0,0.0
109052ee3f95106624c4c3ac5f144b05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1597ef0af258665c339f498dd3760a79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2f4dde5018d717540cc7b9bb7dd11d5a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3be3836fb1453491f7b7db1b2712e8db,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [13]:
from scipy.sparse import  csr_matrix

from sklearn.neighbors import NearestNeighbors

model=NearestNeighbors(metric='cosine',algorithm='brute')

model.fit(csr_matrix(matrix.values))

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [14]:
matrix.shape

(29, 176)

In [16]:
query=np.random.choice(matrix.shape[0])
print(query)
distances,indices=model.kneighbors(matrix.iloc[query,:].values.reshape(1,-1),n_neighbors=5)

7

In [20]:
print('Student ID {0}\n'.format(matrix.columns[query]))
for i in range(0,len(distances.flatten())):
    if i==0 :
        print('Recommendations->\n first course {0}'.format(matrix.index[query]))
    else:
        print('\n {0}: Course ID {1},  with the distance of {2}:'.format(i,matrix.index[indices.flatten()[i]],distances.flatten()[i]))

Student ID 10386841d4cb374d75887b6aa5536647

Recommendations->
 first course 5544c179fd0d221600cc0a041c16b03d

 1: Course ID 8bc5f8c1f75ea5d0f7665b5775c6876a,  with the distance of 0.4023856953328032:

 2: Course ID fd26d46f7361002216d3a40fb3504060,  with the distance of 0.5527864045000421:

 3: Course ID ef9d7813d12149b672b574cb59a562ed,  with the distance of 0.6348516283298893:

 4: Course ID 2f4dde5018d717540cc7b9bb7dd11d5a,  with the distance of 0.6645898033750315: